#details-page {
    margin-top: 7.5em;
    left: 50%;
}

.main_card {
    color: #fff;
    padding: 2rem 3rem;
    margin: 50px auto;
    left: 55%;
    border-radius: 0.4rem;
    width: 85%;
    background: #e4a1a9;
    background: -webkit-linear-gradient(to right, #03434C, rgb(179, 91, 98));
    background: -webkit-gradient(linear, left top, right top, from(#03434C), to(rgb(#08272C)));
    background: -webkit-linear-gradient(left, #03434C, #08272C);
    background: -o-linear-gradient(left, #03434C, #08272C);
    background: linear-gradient(to right, #03434C, #08272C);
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.card_left {
    width: 35.625rem;
}

.card_datails {
    width: 96%;
    padding: 50px;
    margin-top: -25px;
}

.card_datails h1 {
    font-size: 29px;
    padding-bottom: 8px;
    width: 37.5rem;
    word-break: break-word;
}

.card_right img {
    /* height: 100%; */
    max-width: 12rem;
    max-height: 12rem;
    border-radius: 12px;
    border: 3px solid  rgba(10, 180, 180, 1);

}
.topic-info {
    display: flex;
    justify-content: space-between;
}

.card-date {
    color: rgb(223, 210, 210);
}

.content {
    margin-top: 1rem;
}

.disc {
    font-weight: 100;
    font-size: 17.5px;
    line-height: 27px;
    width: 100%;
    word-wrap: break-word;
    text-align: justify;
}

.social-btn {
    margin-left: -10px;
    margin-top: 2em;
}

.social-btn>.edit-btn,
.del-btn {
    border: none;
    padding: 14px;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 10px;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition:all 0.5s ease-in-out;
    text-decoration: none;
}

.del-btn {
    background-color: #9A2335;
    color: #fff;
}

.edit-btn {
    background-color: #ee900c;
    color: #fff;
}

.del-btn:hover {
    color: #9A2335;
    background-color: #fff;
}

.edit-btn:hover {
    color: #ee900c;
    background-color: #fff;
}

.edit-btn:hover,
.del-btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


.fa-play-circle {
    color: #255;
    font-size: 160px;
    margin-top: 110px;
    -webkit-animation: bounce 1.0s -0.4s infinite;
    animation: bounce 1.0s -0.4s infinite;
}

.fa-play-circle:hover {
    color: aqua;
    animation: bounce 0.4s infinite;
}

@-webkit-keyframes bounce {
    8% {
        transform: scale(0.3);
        -webkit-transform: scale(0.8);
        opacity: 1;
    }
    10% {
        transform: scale(1.8);
        -webkit-transform: scale2;
        opacity: 0;
    }
}

@keyframes bounce {
    8% {
        transform: scale(0.3);
        -webkit-transform: scale(0.8);
        opacity: 1;
    }
    20% {
        transform: scale(1.8);
        -webkit-transform: scale2;
        opacity: 0;
    }
}

#catalog {
    max-width: 100%;
    text-align: center;
    margin-top: 1em;
}

#catalog>h1 {
    margin-top: 2.2em;
    margin-bottom: 0.5em;
    font-weight: 700;
    line-height: 1.1;
    padding: 7px;
    letter-spacing: 0px;
    font-size: 4rem;
    text-transform: capitalize;
    font-family: Georgia, serif;
    color: #ffffff !important;
    font-weight: bold;
    font-family: Ubuntu, sans-serif !important;
}

.card {
    margin-left: 4em;
    width: 420px;
    height: 510px;
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.thumb>img {
    height: 370px;
    width: 100%;
}

.card :hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

article {
    padding: 28px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    flex: 1;
    line-height: 1.4;
}

span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
}

.thumb {
    max-height: 350px;
    /*   padding-bottom: 40%;*/
    width: 100%;
    background-size: cover;
    background-position: center center;
}

#comments {
    margin-top: 3em;
    left: 50%;
    text-align: center;
}

.comments-info {
    color: #fff;
    height: 200px auto;
    margin: 50px auto;
    display: flex;
    width: 85%;
    border-radius: 0.4rem;
    background: #e4a1a9;
    background: -webkit-linear-gradient(to right, #03434C, rgb(179, 91, 98));
    background: -webkit-gradient(linear, left top, right top, from(#03434C), to(rgb(#08272C)));
    background: -webkit-linear-gradient(left, #03434C, #08272C);
    background: -o-linear-gradient(left, #03434C, #08272C);
    background: linear-gradient(to right, #03434C, #08272C);
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}


mat-spinner {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;

}

.loading {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.inputFields {
    margin: 18px 0;
    padding: 10px;
    border: 1px solid rgba(10, 180, 180, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, 0.342);
    color: white;
    outline: none;
}

.alert-error {
    color:rgb(226, 24, 24);
    font-weight: normal;
  }
  
  .input-error {
    border-color: rgb(226, 24, 24);
    border-width: 1,5px;
  }


.noBullet {
    list-style-type: none;
    padding: 0;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

textarea {
    width: 100%;
    resize: none;
    height: 100px;
    font-size: 16px;
}

#post-btn {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
    padding: 10px 43px;
    cursor: pointer;
    transition: .4s;
}
#post-btn:hover:enabled {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
}

#post-btn:disabled {
    opacity: 0.5;
}

@media screen and (max-width:950px) {
    .noBullet {
        width: 85%;
    }

    .main_card {
        padding: 1rem 1.5rem;
        width: 90%;
    }
    .comments-info {
        width: 90%;
    }
}

@media screen and (max-width:500px) {

    .noBullet {
        width: 90%;
    }
    .main_card {
        padding: 0.5rem 1rem;
        width: 95%;
    }
    .comments-info {
        width: 95%;
    }
}