footer {
    background-color: #72A4AB;
    width: 100%;
    display: flex;
    font-size: 1.1rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding: 0rem 4rem 0 3rem;
    margin: 0%;
    height: 60px;
    position: absolute;
    bottom: 0;
    height: 50px;
}
body::after {
    content: '';
    display: block;
    height: 50px; /* Set same as footer's height */
  }
  
  footer {
    position: fixed;
    bottom: 0;
    height: 50px;
  }