
    <div id="home">
        <div class="home-container">

            <div class="short-info">
                <h1>Worlds biggest forum for Dads!</h1>
                <h2>Seek advice, share an opinion, help others in difficulty.</h2>
                <h2>Join the largest community of dedicated dads!</h2>
            </div>

        </div>
    </div> 

    <ng-container *ngIf="(topics | async) as lastTopics; else loadingIndicator">

      <section class="cards-wrapper">
        <div *ngFor="let topic of objectKeys(lastTopics)"  class="card-grid-space">
          <a class="card" routerLink="/topics/{{topic}}" style="--bg-img: url({{lastTopics[topic].imageUrl}})">
            <div>
              <h1>{{lastTopics[topic].title}}</h1>
              <p>{{lastTopics[topic].content | shorten:28 }}</p>
              <div class="date">{{lastTopics[topic].createdAt | transformDate | date: 'dd MMM yyyy' }}</div>
              <div class="tags">
                <!-- //TODO add owner -->
                <div class="tag">{{lastTopics[topic].ownerEmail | shorten:26}}</div>
              </div>
            </div>
          </a>
        </div>
        
      </section>
      <div class="view-more">
        <button class="view-more-btn" routerLink="/topics">View all topics</button>
      </div>
    </ng-container>

    <ng-template #loadingIndicator>
      <mat-spinner></mat-spinner>
      <p class="loading">Loading...</p>
    </ng-template>