<ng-container *ngIf="(topics | async) as lastTopics">

    <section class="cards-wrapper">
        <app-single-topic *ngFor="let topic of objectKeys(lastTopics)" [lastTopics]="lastTopics" [topic]="topic" ></app-single-topic>
      <!-- <div  class="card-grid-space">
        <a class="card" routerLink="/topics/{{topic}}" style="--bg-img: url({{lastTopics[topic].imageUrl}})">
          <div>
            <h1>{{lastTopics[topic].title}}</h1>
            <p>{{lastTopics[topic].content | shorten }}</p>
            <div class="date">{{lastTopics[topic].createdAt  }}</div>
            <div class="tags">
              <div class="tag">HTML</div>
            </div>
          </div>
        </a>
      </div>
       -->
    </section>
</ng-container>