<ng-container *ngIf="(topics | async) as topics; else loadingIndicator">
    <section *ngIf="topics; else noTopic" class="cards-wrapper">
        <app-single-topic *ngFor="let topic of objectKeys(topics)" [topics]="topics" [topic]="topic" ></app-single-topic>
    </section>

    <ng-template #noTopic>
      <div class="no-posts">
          <div class="no-posts-img">
              <img src="https://i.postimg.cc/QtnjY4xr/create.jpg" alt="image_nature_3">
          </div>
          <p class="no-offer">No posts.</p>
      </div>
    </ng-template>
</ng-container>

<ng-template #loadingIndicator>
  <mat-spinner></mat-spinner>
  <p class="loading">Loading...</p>
</ng-template>