<div class="newTopic">
    <div class="info">
        <h2>Create your topic, search for an advice or share experience!</h2>
    </div>

    <form [formGroup]="newTopicForm" (ngSubmit)="submitTopic()" class="createForm">
        <h2>Create Topic</h2>
        <ul class="noBullet">
            <li>
                <label for="title">Title:</label>
                <input 
                [ngClass]="{'input-error': showErrorInControl('title')}"
                formControlName="title"
                type="text" 
                class="inputFields" 
                id="title" 
                placeholder="Your topic here" 
                name="title"/>
            </li>

            <ng-container *ngIf="showErrorInControl('title')">
                <p *ngIf="newTopicForm.controls['title'].errors?.['required']" class="alert-error">
                    Title is required!
                </p>
                <p *ngIf="newTopicForm.controls['title'].errors?.['minlength']" class="alert-error">
                    Topic Title must be at least 4 characters long!
                </p>
            </ng-container> 
            
            <li>
                <label for="imageUrl">ImageUrl:</label>
                <input
                [ngClass]="{'input-error': showErrorInControl('imageUrl')}"
                formControlName="imageUrl"
                id="imageUrl"
                class="inputFields" 
                name="imageUrl" 
                placeholder="http://...">
            </li>

            <ng-container *ngIf="showErrorInControl('imageUrl')">
                <p *ngIf="newTopicForm.controls['imageUrl'].errors?.['pattern']" class="alert-error">
                    Invalid imageUrl! No image? No problem! We have a default one!
                    Just keep the field empty.
                </p> 
            </ng-container> 

            <li>
                <label for="content">Content:</label>
                <textarea 
                formControlName="content"
                id="content"
                [ngClass]="{'input-error': showErrorInControl('content')}"
                class="inputFields" 
                name="content" 
                placeholder="..."></textarea>
            </li>

            <ng-container *ngIf="showErrorInControl('content')">
                <p *ngIf="newTopicForm.controls['content'].errors?.['required']" class="alert-error">
                    Content is required!
                </p>
                <p *ngIf="newTopicForm.controls['content'].errors?.['minlength']" class="alert-error">
                    Content must be at least 10 characters long!
                </p>
            </ng-container>


            <li id="center-btn">
                <button [disabled]="newTopicForm.invalid" id="create-btn">Publish Topic</button>
            </li>
        </ul>
    </form>

</div>